.header{
  transition: all .3s;
  visibility: hidden;
  height: 0;
  opacity: 0;
}

.header_main{
  width: calc(100% - 30px);
  padding: 20px 0 15px 30px;
  font-size: 36px;
  font-weight: 600;
  color: #000;
  z-index: 999;
  pointer-events: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  opacity: 1;
  visibility: initial;
  height: auto;
}

.header__image{
  margin: 0;
  width: 60px;
  height: 60px;
  opacity: 1;
  visibility: initial;
  transition: all .3s;
}

.header__text{
  margin: 0 0 -6px 20px;
}

.footer{
  display: flex;
  justify-content: space-between;
  padding: 10px 30px 10px 30px;
}

.footer__text{
  margin: 0;
  font-weight: 300;
  color: #000;
  text-decoration: none;
  opacity: 1;
  transition: all .3s;

  &:hover{
    opacity: .5;
  }

}

@media screen and (max-width: 400px) {
  .footer{
    padding: 10px 15px 10px 15px;
  }
}